{%  extends 'template.twig' %}

{% block titulo %}
    Listagem
{% endblock %}

{% block conteudo %}
    <div class="col-md-12">
        <a href="/novo" class="btn btn-primary">Novo</a>
    </div>

    <div class="col-md-12">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
            </thead>
            <tbody>

            {% for i in name %}
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}